#### Dependencies

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
import requests
import pandas as pd

#### Splinter Setup

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/michelleherman/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

# NASA Mars News

In [3]:
#URL of website to scrape
news_url = "https://redplanetscience.com/"
browser.visit(news_url)

time.sleep(1)

In [4]:
#Create BeautifulSoup Object
mars_html = browser.html
mars_soup = bs(mars_html, "html.parser")

In [5]:
#View html content from page
results = mars_soup.find('div', class_='list_text')
print(results)

<div class="list_text">
<div class="list_date">September 20, 2021</div>
<div class="content_title">Curiosity Mars Rover's Summer Road Trip Has Begun</div>
<div class="article_teaser_body">After more than a year in the "clay-bearing unit," Curiosity is making a mile-long journey around some deep sand so that it can explore higher up Mount Sharp.</div>
</div>

### News title

In [6]:
#Scrape the Mars News Site and collect the latest News Title and Paragraph Text.
news_title = results.find('div', class_='content_title')
news_title= news_title.text.strip()

print(f'News Title: {news_title}')

News Title: Curiosity Mars Rover's Summer Road Trip Has Begun

### Paragraph Text

In [7]:
#Scrape the Mars News Site and collect the latest News Title and Paragraph Text.
news_p = results.find('div', class_='article_teaser_body')
news_p = news_p.text.strip()

print(f'Paragraph Text: {news_title}')

Paragraph Text: Curiosity Mars Rover's Summer Road Trip Has Begun

# JPL Mars Space Images - Featured Image

In [8]:
#URL of website to scrape
featured_im_url = "https://spaceimages-mars.com/"
browser.visit(featured_im_url)

time.sleep(1)

In [9]:
#Create BeautifulSoup Object
html = browser.html
image_soup = bs(html, "html.parser")

In [10]:
#View html content from page and find featured image
featured_image_url = image_soup.find_all('img')[1]['src']
featured_image_url = featured_im_url + featured_image_url

print(f'Featured Image: {featured_image_url}')

Featured Image: https://spaceimages-mars.com/image/featured/mars3.jpg

# Mars Facts

In [11]:
#URL of website to scrape
facts_url = "https://galaxyfacts-mars.com/"
browser.visit(facts_url)

time.sleep(1)

In [12]:
#use read html function to scrape tabular data from page using pandas
tables = pd.read_html(facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
df = tables[1]
df.head(9)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
df_html=df.to_html()
print(df_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [15]:
#URL of website to scrape
hemispheres_url = "https://marshemispheres.com/"
browser.visit(hemispheres_url)

time.sleep(1)

In [16]:
#Create BeautifulSoup Object
hemisphere_html = browser.html
hemisphere_soup = bs(hemisphere_html, "html.parser")

In [24]:
#View html content from page and find image and header
#cerberus_jpg = image_soup.find_all('img')[1]['src']
#cerberus_jpg = cerberus_jpg + cerberus_jpg

#print(cerberus_jpg)

cerberus_jpg = results.find('div', class_='cover ')
cerberus_header = results.find('div', class_='description ')


print(cerberus_jpg)
print(cerberus_header)

None
None

In [17]:
#browser.quit()